.destination {
  margin-bottom: 116px;
  text-align: center;
  h2 {
  }
  &-content {
    &--listdest {
      position: relative;
      top: -5rem;
    }
    &-item {
      height: 160px;
      position: relative;
      &--topitem {
        -webkit-box-shadow: 0px 14px 37px -10px rgba(0, 0, 0, 0.88);
        -moz-box-shadow: 0px 14px 37px -10px rgba(0, 0, 0, 0.88);
        box-shadow: 0px 14px 37px -10px rgba(0, 0, 0, 0.88);
      }
      &--big {
        height: 350px;
        position: relative;
      }

      &-title {
        &--other{
          color: #ffffff;
          .name{
            font-size: 30px;
          }
          .locality{
            font-weight: 300;
            font-size: 18px;
          }
          a{
            margin: 0px auto;
            position: absolute;
            bottom: 1.5rem;
            align-self: center;
            
          }
        }
        &--other,
        &--listdest {
          height: 100%;
          opacity: 1;
          background-color: transparent;
          top: inherit;
          left: inherit;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          .name {
            color: #ffffff;
            font-size: 25px;
            font-weight: 700;
          }
        }
        height: 37px;
        width: 100%;
        background-color: #ffffff;
        opacity: 0.75;
        position: absolute;
        display: flex;
        align-items: center;
        top: 0px;
        left: 0px;

        padding-left: 18px;
        p {
          font-size: 18px;
        }
      }
      &-image {
        &--big {
          img {
            height: 350px !important;
          }
        }
        img {
          height: 160px;
          object-fit: cover;
        }
      }
      &-image--hover {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
        a {
          position: absolute;
          top: 45%;
          right: 5%;
        }
        img {
          height: 160px;
        }
      }
      &:hover &-image--hover {
        display: block;
      }
    }
  }
}
