@import "bulma/sass/utilities/_all";
.footer {
  background-color: #212121;
  color: white;
  padding-top: 25px;
  padding-bottom: 97px;
  &-content {
    padding-top: 24px;
    display: flex;
    justify-content: center;
    @include mobile {
      flex-direction: column;
      align-items: center;
    }

    &-item {
      padding: 0px 10px;
      @include mobile{
          padding: 0.5rem;
      }
      &--copy {
        color: #898989;
        @include mobile{
            text-align: center;
        }
        a {
          color: #898989;
          text-decoration: underline;
        }
      }
    }
  }
}
