@import "bulma/sass/utilities/_all";
.hotel {
  &--home {
    min-height: 800px;
    background: url("../../img/dopozaditophotels.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    position: relative;
    align-items: center;
    .container {
      width: 100%;
      .button {
        z-index: 100;
      }
    }
  }
  &-gradient {
    position: absolute;
    height: 5rem;
    &--bottom {
      bottom: 0px;
      background: rgba(255, 255, 255, 0);
      background: -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(240, 240, 240, 0.17) 17%,
        rgba(240, 240, 240, 1) 100%
      );
      background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(255, 255, 255, 0)),
        color-stop(17%, rgba(240, 240, 240, 0.17)),
        color-stop(100%, rgba(240, 240, 240, 1))
      );
      background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(240, 240, 240, 0.17) 17%,
        rgba(240, 240, 240, 1) 100%
      );
      background: -o-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(240, 240, 240, 0.17) 17%,
        rgba(240, 240, 240, 1) 100%
      );
      background: -ms-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(240, 240, 240, 0.17) 17%,
        rgba(240, 240, 240, 1) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(240, 240, 240, 0.17) 17%,
        rgba(240, 240, 240, 1) 100%
      );
    }
    &--top {
      top: 0px;
      background: rgba(255, 255, 255, 0);
      background: -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(240, 240, 240, 0.17) 17%,
        rgba(240, 240, 240, 1) 100%
      );
      background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(255, 255, 255, 0)),
        color-stop(17%, rgba(240, 240, 240, 0.17)),
        color-stop(100%, rgba(240, 240, 240, 1))
      );
      background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(240, 240, 240, 0.17) 17%,
        rgba(240, 240, 240, 1) 100%
      );
      background: -o-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(240, 240, 240, 0.17) 17%,
        rgba(240, 240, 240, 1) 100%
      );
      background: -ms-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(240, 240, 240, 0.17) 17%,
        rgba(240, 240, 240, 1) 100%
      );
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0) 0%,
        rgba(240, 240, 240, 0.17) 17%,
        rgba(240, 240, 240, 1) 100%
      );
    }
  }

  text-align: center;

  h2 {
  }
  .button-inner {
    position: absolute;
  }
  &-content {
    position: relative;
    &-img {
      overflow: hidden;
      img {
        overflow: hidden;
        object-fit: cover;
      }
    }
    &-item {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 100;
      overflow: hidden;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      text-align: center;
      &-content {
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 9;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &-img {
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &-rating {
        display: flex;
        justify-content: center;
      }
      &-title {
        text-align: center;
        color: white;
        h3 {
          font-size: 24px;
          margin: 0px;
          @include mobile {
            font-size: 18px;
          }
        }
      }
      .button {
        text-align: center;
        visibility: hidden;
      }
      &:hover {
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        &:before {
          display: block;
        }
      }
      &:before {
        content: "";
        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
      }
      &:hover .button {
        visibility: visible;
      }
      &:hover &-title {
        visibility: hidden;
      }
      &:hover .rating-star {
        visibility: hidden;
      }
      &:first-child {
      }
      &:last-child {
        // border-right: 1px solid white;
      }
    }
  }
}
.detailhotel {
  &-content {
  }
  &-landmark {
    margin-top: 2rem;
    color: #2f2f2f;
    p {
      font-size: 18px;
    }
    &-title {
      margin-bottom: 1.5rem;
    }
    &-name {
      margin-right: 6rem;
    }
    ul {
      li {
        display: flex;
      }
    }
  }
  &-mapa {
    max-width: 430px;
  }
  &-description {
  }
  &-ordercontent {
    display: flex;
    @include mobile {
      flex-direction: column-reverse;
    }
    width: 100%;
  }
  &-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title {
      color: white;
      font-size: 24px;
    }
    &-content {
      border-top: 1px solid #219f93;
      padding-top: 1.5rem;
      position: relative;
    }
    &-comment {
      padding: 0rem 2.5rem;
    }
    &-slider {
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      width: 100%;
      background-color: #303030;
    }
    &-stars {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;
    }
    &-index {
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 67px;
      height: 63px;
      border-radius: 10px;
      background-color: #219f93;
    }
  }
  &-booking {
    height: 190px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #219f93;
    background-image: linear-gradient(to top, #0d7d72 0%, #219f93 100%);
  }
  &-equip {
    &-content {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      display: flex;
      align-items: center;

      margin: 0.5rem 3rem 0.5rem 0rem;
      p {
        margin-left: 0.5rem;
      }
      &--air {
        background: url("../../img/air condition.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
      &--cafe {
        background: url("../../img/breakfast.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
      &--wifi {
        background: url("../../img/wifi.svg");
        background-size: contain;
        background-size: contain;
        width: 30px;
        height: 22px;
      }
      &--parking {
        background: url("../../img/parking.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
      &--swimming {
        background: url("../../img/001-swimming-pool.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
      &--dog {
        background: url("../../img/002-dog.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
      &--shopping {
        background: url("../../img/003-shopping-bag.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
      &--windsurf {
        background: url("../../img/004-windsurf-silhouette.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
      &--bus {
        background: url("../../img/005-front-of-bus.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
      &--restaurant {
        background: url("../../img/006-restaurant.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
      &--kids {
        background: url("../../img/007-kids-couple.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
      &--creditcard {
        background: url("../../img/008-credit-cards-payment.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
      &--tennis {
        background: url("../../img/009-racket-and-tennis-ball.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
      &--golf {
        background: url("../../img/010-golf-flag-and-field.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
      &--jewel {
        background: url("../../img/011-jewel.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
      &--washing {
        background: url("../../img/012-washing-machine.svg");
        background-size: contain;
        width: 29px;
        height: 29px;
      }
    }
  }
}

.rating-star {
  background: url("../../img/star_gold.svg");
  margin: 4px;
  width: 20px;
  height: 19px;
}

.arrowright,
.arrowleft {
  width: 29px;
  height: 45px;
  background-color: #3e3e3e;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowleft {
  top: 40%;
  left: -2.5rem;
}
.arrowright {
  top: 40%;
  right: -2.5rem;
}


.imagecarousel-item{
  &:hover{
    cursor: pointer;
  }
}