@import "bulma/sass/utilities/_all";
.social {
  &-icon {
    display: flex;
    justify-content: center;
    padding-top: 21px;
    .fb {
      background-image: url("../../img/fb_seda.svg");
      height: 33px;
      width: 33px;
      margin: 0px 7px;
    }
    .insta {
      background-image: url("../../img/insta_seda.svg");
      height: 33px;
      width: 33px;
      margin: 0px 7px;
    }
  }
  &-description {
    margin-top: 40px;
    margin-bottom: 90px;
    .content {
      text-align: center;
      margin: 0px auto;
    }
  }
}

.share {
  background: url("../../img/sharefb.png");
  width: 68px;
  height: 24px;
  margin-left: 3rem;
  @include mobile {
    margin: 0px auto;
  }
  &--right{
    position: absolute;
    right: 2rem;
    bottom: -2rem;
    margin-left: 3rem;
    
  }
}
