@import "bulma/sass/utilities/_all";
.trends {
  &-content {
    margin: 0px;
  }
  color: white;
  &-item {
    &--activities {
      padding: 2rem;
    }
    &--hotel {
      padding: 2rem;
      margin: 1rem 1rem 1rem 0rem;
      height: calc(100% - 2rem);
      @include mobile {
        margin: 0px;
      }
    }
    &--blogdetail {
      color: #000;
      display: initial;
      padding-bottom: 1rem;
      p{
        margin-bottom: 1.5rem;
      }
      img {
        width: 302px;
        height: 263px;
        float: left;
        margin-right: 1rem ;

      }

    }
    display: flex;
    position: relative;
    justify-content: center;
    @include mobile {
      margin-top: 2rem;
    }
    &--hotelmonth {
      background-image: url("../../img/hotelmonth.png");
      position: absolute;
      top: -18px;
      width: 150px;
      height: 79px;
      right: 41px;
    }
  }
  &-card {
    &--activities {
      max-width: inherit;
    }
    &--blog {
      max-width: initial;
    }
    position: relative;
    margin-top: 79px;
    margin-bottom: 79px;
    justify-content: center;
    @include mobile {
      margin: 0px;
      margin: 3rem 0rem;
      text-align: center;
    }
    margin-right: 32px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    &-info {
      display: flex;
      flex-wrap: wrap;
      font-weight: 300;
      font-size: 13px;
      &--blogdetail{
        @include mobile {
          justify-content: flex-start !important;
        }
      }
      @include mobile {
        justify-content: center;
      }
      &-item {
        padding: 4px 9px;
        border-right: 1px solid #fff;
        &:last-child {
          border-right: 1px solid transparent;
        }
        &:first-child {
          padding-left: 0px;
        }
      }
    }
    &-head {
      display: flex;
      flex-direction: column;
      &--blog {
        padding: 1.5rem 1.5rem !important;
      }
      &--blogdetail{
        padding: 2.5rem 0rem;
      }
    }
    &-body {
      margin-top: 38px;
      display: flex;
      @include mobile {
        flex-direction: column;
        align-items: center;
      }
    }
    &-img {
      &--blog {
        img {
          width: 100% !important;
          height: 100% !important;
        }
      }
      img {
        width: 200px;
        height: 200px;
      }
    }
    &-desc {
      font-size: 14px;
      font-weight: 300;
      margin-left: 26px;
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      @include mobile {
        text-align: center;
        margin-left: 0px;
        margin-top: 32px;
      }
      &-more {
        margin-top: 37px;
      }
    }
  }
}
