@import "bulma/sass/utilities/_all";
.welcome {
    position: relative;
  &--home {
    background-image: url("../../img/welcome.jpg");
  }
  &--destination {
    background-image: url("../../img/detaildest.png");
  }
  &--activities
  {
    position: relative;
    &-title{
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      color: white;
      z-index: 9;
      a{
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        @include mobile{
          right: inherit;
          bottom: 5rem;
        }
      }
    }
  }
  height: 500px;
  background-size: cover;
  background-position: 50% 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-title {
    font-size: 36px;
    h2 {
      font-family: "Alisha";
      margin: 0px;
      font-weight: 300;
    }
  }
}
