.welcome {
    position: relative;
  &--home {
    background-image: url("../../img/welcome.jpg");
  }
  &--destination {
    background-image: url("../../img/detaildest.png");
  }
  height: 500px;
  background-size: cover;
  background-position: 50% 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-title {
    font-size: 36px;
    h2 {
      font-family: "Alisha";
      margin: 0px;
      font-weight: 300;
    }
  }
}
