html {
  background-color: #f0f0f0;
  font-family: "azo-sans-web", sans-serif; }

.columns:last-child {
  margin-bottom: 0 !important; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 30px 0px; }

h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 16px 0px; }

p {
  font-size: 16px;
  font-weight: 300; }

.is-green {
  color: #219f93; }

.is-white {
  color: #fff; }

.is-yellow {
  color: #fdc61d; }

.is-yellowdark {
  color: #dfab0a; }

.is-center {
  text-align: center; }

.is-upper {
  text-transform: uppercase; }

.is-fullwidth {
  width: 100%; }

.is-info {
  font-weight: 300; }

.bg-green {
  background: #219f93; }

.bg-green2 {
  background: #007064; }

.fw700 {
  font-weight: 700; }

a {
  text-decoration: none; }

.button {
  text-transform: uppercase; }

.is-right {
  float: right; }

.is-centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.hr_2 {
  height: 2rem; }
