@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.destination {
  text-align: center; }
  .destination-content--listdest {
    position: relative;
    top: -5rem; }
  .destination-content-item {
    height: 100%;
    position: relative; }
    .destination-content-item--topitem {
      -webkit-box-shadow: 0px 14px 37px -10px rgba(0, 0, 0, 0.88);
      -moz-box-shadow: 0px 14px 37px -10px rgba(0, 0, 0, 0.88);
      box-shadow: 0px 14px 37px -10px rgba(0, 0, 0, 0.88); }
    .destination-content-item--big {
      height: 100%;
      position: relative; }
    .destination-content-item-title {
      height: 37px;
      width: 100%;
      background-color: #ffffff;
      opacity: 0.75;
      position: absolute;
      display: flex;
      align-items: center;
      top: 0px;
      left: 0px;
      padding-left: 18px; }
      .destination-content-item-title--other {
        color: #ffffff; }
        .destination-content-item-title--other .name {
          font-size: 30px; }
        .destination-content-item-title--other .locality {
          font-weight: 300;
          font-size: 18px; }
          @media screen and (max-width: 800px) {
            .destination-content-item-title--other .locality {
              font-size: 14px; } }
        .destination-content-item-title--other a {
          margin: 0px auto;
          position: absolute;
          bottom: 1.5rem;
          align-self: center; }
      .destination-content-item-title--other, .destination-content-item-title--listdest {
        height: 100%;
        opacity: 1;
        background-color: transparent;
        top: inherit;
        left: inherit;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column; }
        .destination-content-item-title--other .name, .destination-content-item-title--listdest .name {
          color: #ffffff;
          font-size: 25px;
          font-weight: 700; }
          @media screen and (max-width: 800px) {
            .destination-content-item-title--other .name, .destination-content-item-title--listdest .name {
              font-size: 20px; } }
      .destination-content-item-title p {
        font-size: 18px; }
    .destination-content-item-image {
      height: 100%; }
      .destination-content-item-image--big img {
        height: calc(100% - 10px) !important; }
      .destination-content-item-image img {
        height: 100%;
        object-fit: cover; }
    .destination-content-item-image--hover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 0; }
      .destination-content-item-image--hover a {
        position: absolute;
        top: 45%;
        right: 5%; }
      .destination-content-item-image--hover img {
        height: 100%; }
    .destination-content-item:hover .destination-content-item-image--hover {
      opacity: 1;
      -webkit-transition: opacity 0.25s ease-in-out;
      -moz-transition: opacity 0.25s ease-in-out;
      -ms-transition: opacity 0.25s ease-in-out;
      -o-transition: opacity 0.25s ease-in-out;
      transition: opacity 0.25s ease-in-out; }
