.destination {
  margin-bottom: 116px; }
  .destination-content-item {
    height: 160px;
    position: relative; }
    .destination-content-item-title {
      height: 37px;
      width: 100%;
      background-color: #ffffff;
      opacity: 0.75;
      position: absolute;
      top: 0px;
      left: 0px;
      display: flex;
      align-items: center;
      padding-left: 18px; }
      .destination-content-item-title p {
        font-size: 18px; }
    .destination-content-item-image img {
      height: 160px; }
    .destination-content-item-image--hover {
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      display: none; }
      .destination-content-item-image--hover a {
        position: absolute;
        top: 45%;
        right: 5%; }
      .destination-content-item-image--hover img {
        height: 160px; }
    .destination-content-item:hover .destination-content-item-image--hover {
      display: block; }
