.hotel {
  text-align: center;
  display: flex;
  align-items: center; }
  .hotel--home {
    height: 700px;
    background: url("../../img/hotelbg-gradient.png");
    background-size: cover;
    background-position: 50% 50%; }
  .hotel .button {
    margin-top: 17px;
    margin-bottom: 80px; }
  .hotel-content {
    position: relative; }
    .hotel-content-img img {
      height: 262px; }
    .hotel-content-item {
      width: 100%;
      position: absolute;
      border-right: 1px solid white;
      height: 262px;
      text-align: center; }
      .hotel-content-item-rating {
        display: flex;
        justify-content: center;
        top: 80px;
        width: 100%;
        position: absolute; }
        .hotel-content-item-rating .rating-star {
          background: url("../../img/star_gold.svg");
          margin: 4px;
          width: 20px;
          height: 19px; }
      .hotel-content-item-title {
        position: relative;
        top: 116px;
        width: 100%;
        text-align: center;
        color: white; }
        .hotel-content-item-title h3 {
          font-size: 24px;
          margin: 0px; }
      .hotel-content-item .button {
        text-align: center;
        visibility: hidden;
        position: relative;
        width: 140px;
        top: 54px; }
      .hotel-content-item:hover .button {
        visibility: visible; }
      .hotel-content-item:hover .hotel-content-item-title {
        visibility: hidden; }
      .hotel-content-item:hover .rating-star {
        visibility: hidden; }
      .hotel-content-item:last-child {
        border-right: 1px solid transparent; }
