@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.hotel {
  text-align: center; }
  .hotel--home {
    min-height: 800px;
    background: url("../../img/dopozaditophotels.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    position: relative;
    align-items: center; }
    .hotel--home .container {
      width: 100%; }
      .hotel--home .container .button {
        z-index: 100; }
  .hotel-gradient {
    position: absolute;
    height: 5rem; }
    .hotel-gradient--bottom {
      bottom: 0px;
      background: rgba(255, 255, 255, 0);
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(240, 240, 240, 0.17) 17%, #f0f0f0 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(17%, rgba(240, 240, 240, 0.17)), color-stop(100%, #f0f0f0));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(240, 240, 240, 0.17) 17%, #f0f0f0 100%);
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(240, 240, 240, 0.17) 17%, #f0f0f0 100%);
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(240, 240, 240, 0.17) 17%, #f0f0f0 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(240, 240, 240, 0.17) 17%, #f0f0f0 100%); }
    .hotel-gradient--top {
      top: 0px;
      background: rgba(255, 255, 255, 0);
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(240, 240, 240, 0.17) 17%, #f0f0f0 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(17%, rgba(240, 240, 240, 0.17)), color-stop(100%, #f0f0f0));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(240, 240, 240, 0.17) 17%, #f0f0f0 100%);
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(240, 240, 240, 0.17) 17%, #f0f0f0 100%);
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(240, 240, 240, 0.17) 17%, #f0f0f0 100%);
      background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(240, 240, 240, 0.17) 17%, #f0f0f0 100%); }
  .hotel .button-inner {
    position: absolute; }
  .hotel-content {
    position: relative; }
    .hotel-content-img {
      overflow: hidden; }
      .hotel-content-img img {
        overflow: hidden;
        object-fit: cover; }
    .hotel-content-item {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 100;
      overflow: hidden;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      text-align: center; }
      .hotel-content-item-content {
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 9;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .hotel-content-item-img {
        height: 100%; }
        .hotel-content-item-img img {
          width: 100%;
          height: 100%; }
      .hotel-content-item-rating {
        display: flex;
        justify-content: center; }
      .hotel-content-item-title {
        text-align: center;
        color: white; }
        .hotel-content-item-title h3 {
          font-size: 24px;
          margin: 0px; }
          @media screen and (max-width: 800px) {
            .hotel-content-item-title h3 {
              font-size: 18px; } }
      .hotel-content-item .button {
        text-align: center;
        visibility: hidden; }
      .hotel-content-item:hover {
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); }
        .hotel-content-item:hover:before {
          display: block; }
      .hotel-content-item:before {
        content: "";
        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25); }
      .hotel-content-item:hover .button {
        visibility: visible; }
      .hotel-content-item:hover .hotel-content-item-title {
        visibility: hidden; }
      .hotel-content-item:hover .rating-star {
        visibility: hidden; }

.detailhotel-landmark {
  margin-top: 2rem;
  color: #2f2f2f; }
  .detailhotel-landmark p {
    font-size: 18px; }
  .detailhotel-landmark-title {
    margin-bottom: 1.5rem; }
  .detailhotel-landmark-name {
    margin-right: 6rem; }
  .detailhotel-landmark ul li {
    display: flex; }

.detailhotel-mapa {
  max-width: 430px; }

.detailhotel-ordercontent {
  display: flex;
  width: 100%; }
  @media screen and (max-width: 800px) {
    .detailhotel-ordercontent {
      flex-direction: column-reverse; } }

.detailhotel-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .detailhotel-review-title {
    color: white;
    font-size: 24px; }
  .detailhotel-review-content {
    border-top: 1px solid #219f93;
    padding-top: 1.5rem;
    position: relative; }
  .detailhotel-review-comment {
    padding: 0rem 2.5rem; }
  .detailhotel-review-slider {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #303030; }
  .detailhotel-review-stars {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem; }
  .detailhotel-review-index {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 63px;
    border-radius: 10px;
    background-color: #219f93; }

.detailhotel-booking {
  height: 190px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #219f93;
  background-image: linear-gradient(to top, #0d7d72 0%, #219f93 100%); }

.detailhotel-equip-content {
  display: flex;
  flex-wrap: wrap; }

.detailhotel-equip-item {
  display: flex;
  align-items: center;
  margin: 0.5rem 3rem 0.5rem 0rem; }
  .detailhotel-equip-item p {
    margin-left: 0.5rem; }
  .detailhotel-equip-item--air {
    background: url("../../img/air condition.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }
  .detailhotel-equip-item--cafe {
    background: url("../../img/breakfast.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }
  .detailhotel-equip-item--wifi {
    background: url("../../img/wifi.svg");
    background-size: contain;
    background-size: contain;
    width: 30px;
    height: 22px; }
  .detailhotel-equip-item--parking {
    background: url("../../img/parking.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }
  .detailhotel-equip-item--swimming {
    background: url("../../img/001-swimming-pool.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }
  .detailhotel-equip-item--dog {
    background: url("../../img/002-dog.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }
  .detailhotel-equip-item--shopping {
    background: url("../../img/003-shopping-bag.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }
  .detailhotel-equip-item--windsurf {
    background: url("../../img/004-windsurf-silhouette.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }
  .detailhotel-equip-item--bus {
    background: url("../../img/005-front-of-bus.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }
  .detailhotel-equip-item--restaurant {
    background: url("../../img/006-restaurant.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }
  .detailhotel-equip-item--kids {
    background: url("../../img/007-kids-couple.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }
  .detailhotel-equip-item--creditcard {
    background: url("../../img/008-credit-cards-payment.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }
  .detailhotel-equip-item--tennis {
    background: url("../../img/009-racket-and-tennis-ball.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }
  .detailhotel-equip-item--golf {
    background: url("../../img/010-golf-flag-and-field.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }
  .detailhotel-equip-item--jewel {
    background: url("../../img/011-jewel.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }
  .detailhotel-equip-item--washing {
    background: url("../../img/012-washing-machine.svg");
    background-size: contain;
    width: 29px;
    height: 29px; }

.rating-star {
  background: url("../../img/star_gold.svg");
  margin: 4px;
  width: 20px;
  height: 19px; }

.arrowright,
.arrowleft {
  width: 29px;
  height: 45px;
  background-color: #3e3e3e;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center; }

.arrowleft {
  top: 40%;
  left: -2.5rem; }

.arrowright {
  top: 40%;
  right: -2.5rem; }

.imagecarousel-item:hover {
  cursor: pointer; }
